* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Imports
@import "./components/variables";
@import "./components/container";

body {
  font: {
    size: 12px;
    family: Spartan, sans-serif;
  }
  text-align: center;
}

h1 {
  color: $White;
  font-size: 1.5rem;
}

li {
  font-size: 0.8rem;
}

i {
  //pointer-events: none;
  color: #fff;
}

.fa-times {
  color: $Very_Dark_Gray;
}
