.bottom-middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  overflow-y: auto;
  h3 {
    width: 100%;
    text-align: left;
  }
}

// Mobile version
@media only screen and (max-width: 600px) {
  .bottom-middle {
    justify-content: center;
    h3 {
        padding: 2rem 0;
        text-align: center;
    }
    p {
        line-height: 2rem;
    }
  }
}
