@import "../nav";

.top-left {
  background-image: url("../../images/desktop-image-hero-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// Mobile version
@media only screen and (max-width: 768px) {
  .top-left {
    background: url("../../images/mobile-image-hero-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
